@model List<Aluno>;
@{
    ViewData["img"] = "/imagens/R.png";
    ViewData["Title"] = "App Escola";
      <div class="row mb-5">
        <div class="col-auto">
         <img src="/imagens/R.png" class="img-fluid" style="width:60px">
        </div>
        <div class="col">
           <h1 class="h1">APP ESCOLA</h1>
        </div>
    </div>
}

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h1 class="h1"># Primeira Turma</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <input 
                class="form-control form-control-lg" 
                type="text" 
                placeholder="Digite o nome do aluno..." 
                aria-label="Digite o nome do aluno..."
            />
        </div>
        <div class="col-auto">
            <button class="btn btn-lg btn-primary">
                <img src="/imagens/pinpng.com-lupa-png-1513218.png" class="img-fluid" style="width:20px"></">
            </button>
        </div>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var aluno in Model){
    <tr>
       @if(@aluno.Status == "Reprovado"){
           <tr class="table-danger">
           <th scope="row" >@aluno.Id</th> 
           <td>@aluno.Name</td>
           <td>@aluno.Sobrenome</td>
           <td>@aluno.Status</td> 
           </tr>         
       }
       else if(@aluno.Status == "Recuperação"){
           <tr class="table-warning">
           <th scope="row">@aluno.Id</th>
           <td>@aluno.Name</td>
           <td>@aluno.Sobrenome</td>
           <td>@aluno.Status</td> 
           </tr>   
       }
       else{
            <tr class="table">
            <td scope="row">@aluno.Id</td> 
            <td>@aluno.Name</td>
            <td>@aluno.Sobrenome</td>
            <td>@aluno.Status</td>     
            </tr>  
       }     
    </tr>
    }
   </tbody>
 </table>