@model Lista<Boletim>;


<table class="table">
  <thead>
    <tr>
      <th scope="col">Matéria</th>
      <th scope="col">1º</th>
      <th scope="col">2º</th>
      <th scope="col">3º</th>
      <th scope="col">4º</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
       @foreach(var boletim in Model){
       <tr>
       @if(@boletim.Nota1 < 6){
           <th scope="row" >@boletim.Materia</th> 
           <td> class = "table-danger"> @boletim.Nota1</td>
           
           if (@boletim.Nota2 < 6){
           <th scope="row" >@boletim.Materia</th> 
           <td>@boletim.Nota1</td>
           <td>class = "table-danger"> @boletim.Nota2</td>
           <td>@boletim.Nota3</td>     
           <td>@boletim.Nota4</td> 
       }
           if (@boletim.Nota3 < 6){
           <th scope="row" >@boletim.Materia</th> 
           <td>@boletim.Nota1</td>
           <td>@boletim.Nota2</td>
           <td>class = "table-danger"> @boletim.Nota3</td>     
           <td>@boletim.Nota4</td> 
       }
           if (@boletim.Nota4 < 6){
           <th scope="row" >@boletim.Materia</th> 
           <td>@boletim.Nota1</td>
           <td>@boletim.Nota2</td>
           <td>@boletim.Nota3</td>     
           <td>class = "table-danger"> @boletim.Nota4</td> 
       }
       }
        else
       {
                    
       }
       
       </tr>
    }
  </tbody>
  </table>